<a href="https://colab.research.google.com/github/yulidarmaulana/Google_Playstore_Scrapper/blob/main/hdm_vision_google_playstore_scrapper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Referensi: https://www.linkedin.com/pulse/how-scrape-google-play-reviews-4-simple-steps-using-python-kundi/

!pip install google-play-scraper

Collecting google-play-scraper
  Downloading google-play-scraper-1.0.3.tar.gz (52 kB)
     |████████████████████████████████| 52 kB 1.0 MB/s
Building wheels for collected packages: google-play-scraper
  Building wheel for google-play-scraper (setup.py) ... done
  Created wheel for google-play-scraper: filename=google_play_scraper-1.0.3-py3-none-any.whl size=24394 sha256=29add843654afc0416a73374257bf14b75bb02908c95efa2cf150d724d3b31e4
  Stored in directory: /root/.cache/pip/wheels/81/37/0b/4a14be55b449a048cd93d79930b1a980dee7896480defa1923
Successfully built google-play-scraper
Installing collected packages: google-play-scraper
Successfully installed google-play-scraper-1.0.3

In [ ]:
from google_play_scraper import app

import pandas as pd

import numpy as np

In [ ]:
# Scrape All available reviews 
#(DONT RUN THIS CELL!!! RUN ONLY IF YOU WANT TO SCRAPE ALL AVAILABLE REVIEWS)
#JANGAN DI RUN KODE INI, KECUALI ANDA INGIN SCRAPE SEMUA REVIEWS SEKALIGUS

from google_play_scraper import Sort, reviews_all

result = reviews_all(
    'com.bukalapak.android',
    sleep_milliseconds=0, # defaults to 0
    lang='id', # defaults to 'en'
    country='id', # defaults to 'us'
    sort=Sort.NEWEST, # defaults to Sort.MOST_RELEVANT , you can use Sort.NEWEST to get newst reviews
)

In [ ]:
#Scrape desired number of reviews
#Run kode ini jika ingin scrape data dengan jumlah tertentu. Ganti (misal, ingin scrape sejumlah 1000, maka ganti kode , count = 1000 )

from google_play_scraper import Sort, reviews

result, continuation_token = reviews(
    'com.miHoYo.GenshinImpact',
    lang='id', # defaults to 'en'
    country='id', # defaults to 'us'
    sort=Sort.MOST_RELEVANT, # defaults to Sort.MOST_RELEVANT you can use Sort.NEWEST to get newst reviews
    count=100, # defaults to 100
    filter_score_with=None # defaults to None(means all score) Use 1 or 2 or 3 or 4 or 5 to select certain score
)

In [ ]:
df_busu = pd.DataFrame(np.array(result),columns=['review'])

df_busu = df_busu.join(pd.DataFrame(df_busu.pop('review').tolist()))

df_busu.head()

                                            reviewId  ... repliedAt
0  gp:AOqpTOFQSjU-94SKQ3WW4Z2Qk8sVSR3qVUlbCc1cUJ2...  ...       NaT
1  gp:AOqpTOGRdrwh_VZrbAqdOMqrGFabQAI4MqGPO7Vz4M7...  ...       NaT
2  gp:AOqpTOHH9khVhFsHHN3zQRlu72EcsA7Pv2br7L4Kax6...  ...       NaT
3  gp:AOqpTOERAiz4Iij9D7XbYqwOipXbyOXOoJT1tkI1ISF...  ...       NaT
4  gp:AOqpTOFe_MkE2BJSAWgtMPDZ11TWeOCG86642Qj8Ahl...  ...       NaT

[5 rows x 10 columns]

In [ ]:
len(df_busu.index) #count the number of data we got

100

In [ ]:
df_busu[['userName', 'score','at', 'content']].head()  #preview userName, rating, date-time, and reviews only

                userName  ...                                            content
0  Ananda Reyhan Saputra  ...  Keren, bagus beut!! Bikin addict wkwkw Buat ka...
1             Vian Tegar  ...  Gamenya bagus, tapi saya tidak bisa membayangk...
2          IWAN SETIAWAN  ...  tambahkan fitur agar item dari monster atau pe...
3        Dimas Setya Aji  ...  Masukan aja sih untuk pengaturan daily quest d...
4          Yatna_The_Kid  ...  GATCHA IMPACT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!...

[5 rows x 4 columns]

In [ ]:
#Run This Code to Sort the Data By Date 

new_df = df_busu[['userName', 'score','at', 'content']]
sorted_df = new_df.sort_values(by='at', ascending=False) #Sort by Newst, change to True if you want to sort by Oldest.
sorted_df.head()

                          userName  ...                                            content
22                       Naomi xtl  ...  Akun saya ke reset sendiri pas mau masuk ke ge...
4                    Yatna_The_Kid  ...  GATCHA IMPACT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!...
11    AnnaPoppy Official Indonesia  ...  Bagus banget kol gamenya, tapi terdaoat bug ga...
35  Prisisca Yosi Odelia Sihombing  ...  Gamenya bgs sih, tapi gw stress nya di quest p...
93                   Widya Pratama  ...  Bener-bener game RPG terbaik, berasa jadi Mc a...

[5 rows x 4 columns]

In [ ]:
my_df = sorted_df[['userName', 'score','at', 'content']] #get userName, rating, date-time, and reviews only

In [ ]:
my_df.head()

                          userName  ...                                            content
22                       Naomi xtl  ...  Akun saya ke reset sendiri pas mau masuk ke ge...
4                    Yatna_The_Kid  ...  GATCHA IMPACT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!...
11    AnnaPoppy Official Indonesia  ...  Bagus banget kol gamenya, tapi terdaoat bug ga...
35  Prisisca Yosi Odelia Sihombing  ...  Gamenya bgs sih, tapi gw stress nya di quest p...
93                   Widya Pratama  ...  Bener-bener game RPG terbaik, berasa jadi Mc a...

[5 rows x 4 columns]

In [ ]:
my_df.to_csv("scrapped_data.csv", index = False)  #Save the file as CSV , to download: click the folder icon on the left. the csv file should be there.